language: node_js
cache:
  directories:
    - node_modules
node_js:
  - "node"
  - "10"
  - "9"
  - "8"
  - "7"
  - "6"
  - "5"
  - "4"
after_script:
  - npm install -g coveralls
  - coveralls < coverage/lcov.info
