<ul class="feature-list">
  <feature-list-item title="Precisa" image="map">
    Sempre atualizado em tempo real por se conectar diretamente aos serviços
    dos Correios, ViaCEP e outros.
  </feature-list-item>
  <feature-list-item title="Compatível" image="cogs">
    Suporte às versões [4.x-10.x] do Node.js.<br>
    Versões [0.10.x-0.12.x] também suportadas até cep-promise@2.0.8.
  </feature-list-item>
  <feature-list-item title="Rápida" image="timer">
    Sempre retorna a resposta mais rápida por fazer consultas de forma concorrente.
  </feature-list-item>
  <feature-list-item title="Ilimitada" image="traffic-lights">
    Sem limites de uso (rate limits) conhecidos.
  </feature-list-item>
</ul>
