clearfix()
  zoom 1
  &:after
    content ' '
    display table
    clear both

transform($property)
  -webkit-transform unquote($property)
  -moz-transform unquote($property)
  -ms-transform unquote($property)
  -o-transform unquote($property)
  transform unquote($property)
