@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700');
@require '_variables'

html, body
  margin 0

html, body
  font-family $font-primary
  font-size 16px
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

h1, h2, h3, h4, h5, h6
  margin 0
  font-family $font-primary

h1
  font-size $font-size-xxl
  letter-spacing -1px

p
  color $color-grey-dark

a
  color $color-blue
  text-decoration none
  &:visited
    color $color-blue
