$color-blue = #3570FF
$color-green-light = #90E0D0
$color-pink-light = #F0E3E3
$color-purple = #6778DE

$color-lightest = #FFFFFF

// LAYERS
$layer-base = 1
$layer-lowest = 10
$layer-low = 20
$layer-middle = 30
$layer-high = 40
$layer-highest = 50

// PATHS
$path-images = '../images'
