// COLORS
$color-blue-dark = #0044EA
$color-blue = #3570FF
$color-blue-light = #E7F5FB
$color-green-light = #90E0D0
$color-grey = #C9D3DD
$color-grey-dark = #737C84
$color-pink-light = #F0E3E3
$color-purple = #6778DE

$color-lightest = #FFFFFF

// FONTS
$font-primary = 'Montserrat', Helvetica, Arial, sans-serif
$font-size-xxxs = 0.625rem  // 10px
$font-size-xxs = 0.75rem    // 12px
$font-size-xs = 0.875rem    // 14px
$font-size-sm = 1rem        // 16px
$font-size-md = 1.125rem    // 18px
$font-size-lg = 1.25rem     // 20px
$font-size-xl = 1.5rem      // 24px
$font-size-xxl = 2rem       // 32px
$font-size-xxxl = 3rem      // 48px

// LAYERS
$layer-base = 1
$layer-lowest = 10
$layer-low = 20
$layer-middle = 30
$layer-high = 40
$layer-highest = 50

// PATHS
$path-images = '../images/'

// ANIMATION
$animation-ease-default = cubic-bezier(0.080, 0.690, 0.485, 0.990)
