@require '_mixins'

.credits
  margin 150px auto 50px
  width 95%
  max-width 1300px
  padding 15px
  text-align center
  font-size $font-size-xxs
  border 1px solid $color-grey
  border-radius(6px)
  box-sizing(border-box)
