@require '_mixins'

$loader-size = 50px

.loader
  margin 0 auto
  height $loader-size
  width $loader-size
  background-position center center
  background-repeat no-repeat
  background-image('loader.svg')
