@require '_variables'
@require '_mixins'

.topbar
  position absolute
  top 0
  left 0
  width 100%
  padding 40px 0
  z-index $layer-low
  cleafix()
  .logo
    float left
  .navmenu
    float right
    margin-top 31px
