<div class="intro">
  <row>
    <row-item size="6">
      <div class="intro-copy">
        <h1>Simplicidade deslumbrante.</h1>
        <p>Consulte endereços postais da maneira mais fácil que você já viu.</p>
        <router-link :to="{name: 'trial'}">
          <btn theme="primary">Experimente</btn>
        </router-link>
        <router-link :to="{name: 'use'}">
          <btn theme="secondary">Use</btn>
        </router-link>
      </div>
    </row-item>
    <row-item size="6">
      <demo />
    </row-item>
  </row>
</div>
