<footer class="credits">
  <p>
    Criada por <a href="https://github.com/filipedeschamps" target="_blank">Felipe Deschamps</a>.
    <br>
    Mantida por essa bela comunidade de
    <a href="https://github.com/filipedeschamps/cep-promise/graphs/contributors" target="_blank">colaboradores</a>.
  </p>
  <a class="credits-contribute-button-link" href="https://github.com/filipedeschamps/cep-promise" target="_blank">
    <btn>Contribua</btn>
  </a>
  <p>
    Website criado por <a href="https://rafaelcamargo.com" target="_blank">Rafael Camargo</a>.
  </p>
</footer>
