<div class="demo">
  <row>
    <row-item size="12">
      <div class="demo-wrapper">
        <div class="demo-container" data-demo-container></div>
      </div>
    </row-item>
  </row>
  <row>
    <row-item size="12">
      <div class="demo-toolbar-container">
        <div class="demo-toolbar">
          <div class="demo-toolbar-buttons">
            <tweet-btn :tweet="tweet" size="small" />
            <github-button-widget
              username="filipedeschamps"
              repository-name="cep-promise" />
          </div>
          <div class="demo-toolbar-credits">
            <p>Powered by <a href="https://glorious.codes/demo" target="_blank">Glorious Demo</a></p>
          </div>
        </div>
      </div>
    </row-item>
  </row>
</div>
